@CHARSET "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    padding: 0px;
    margin: 0px;
}
ul {
    list-style: none;
}
html{
    height: 100%;
}
body{
    font-family: "微软雅黑";
    font-size: 14px;
    min-height: 665px;
    min-width: 768px;
    color: #4d5664;
    padding-top: 74px;
    height: 100%;
    box-sizing: border-box;
    background: url("../../img/loginbgcz.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.login_head {
    height: 73px;
    margin-top: -74px;
    border-bottom: 1px solid #5b697d;
    text-align: center;
}
.login_head_main {
    /* width: 1200px; */
    margin: 0 auto;
    position: relative;
}
.login_logo {
    position: absolute;
    left:120px;
    top:19px;
}
.login_user {
    position: absolute;
    right:120px;
    top:34px;
    color:#4fc1ee;
    cursor:pointer;
}
.login_main {
    width: 100%;
    height: 100%;
    position: relative;
}
.login_frame {
    width: 404px;
    height:630px;
    margin: auto;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}
.login_top {
    color: #4fc1ee;
    text-align: center;
    line-height: 50px;
    width: 400px;
    height:50px;
    border: 2px solid #4fc1ee;
    border-radius: 4px;
    margin-bottom: 25px;
    box-sizing: content-box;
    position: relative;
    cursor:pointer;
}
.reg_arrow {
    position: absolute;
    right: 16px;
}
.login_center {
    width: 404px;
    height: 414px;
    background-color: white;
    border-radius: 4px;
}
.login_textone {
    font-size: 16px;
    color: #a6a6a6;
    width: 404px;
    height: 22px;
    margin-top: 78px;
    line-height: 22px;
    text-align: center;
}
.login_texttwo {
    padding-top: 10px;
    color: #a6a6a6;
    width: 404px;
    height: 28px;
    text-align: center;
}
.login_title {
    width: 404px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    color: #4fc1ee;
    font-size: 22px;
    padding-top: 16px;
}
.login_info {
    width: 404px;
    height: 208px;
    border-bottom: 3px solid #eeeeee;
    padding-top: 22px;
}
.login_input {
    width: 322px;
    height: 50px;
    margin: auto;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
}
.login_input label {
    line-height: 50px;
    position: absolute;
    right:10px;
}
.login_input input {
    width: 312px;
    height: 50px;
    margin: auto;
    border: none;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-bottom: 16px;
    padding-left: 10px;
}
.login_forgetpsd {
    width: 404px;
    height: 26px;
    margin-top: 10px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 10px;
}
.login_forgetpsd span {
    color: #4fc1ee;
    margin-left: 12px;
}
.login_login {
    color: white;
    width: 320px;
    height: 50px;
    margin: auto;
    background-color: #2ec4ff;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 0px 9px 1px #dadada;
}
input[type="password"]{
	outline:0;
  box-shadow: 0 0 0px 1000px #f5f5f5 inset;
  border-radius: 4px;
}
input[type="text"]{
	outline:0;
  box-shadow: 0 0 0px 1000px #f5f5f5 inset;
  border-radius: 4px;
}
input:focus{
	outline:none;
  border-radius:4px;
}
