*{box-sizing: border-box;}
*::-webkit-scrollbar {width: 10px;}
*::-webkit-scrollbar-button {display: none;}
*::-webkit-scrollbar-thumb {border: 0;border-radius: 6px;background: #e7e7e7;}
html,body{width:100%;height: 100%;}
html{overflow: hidden;}
body{padding: 10px 20px 10px 20px;}
/*清除浮动*/
.clear{*zoom:1}
.clear:after{display:block;clear:both;content:"";}
.block {
	width:100%;
	height: 100%;
	position: relative;
	padding: 120px 20px 30px 20px;
	background: #FAFCFF;
	border: 1px solid #dddddd;
}

.block h1.title {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	background-color: #e9f1ff;
	font-size: 20px;
	color: #0f1e39;
	box-shadow: 0 3px 3px #e4e4e4;
	padding-left: 14px; 
}
.block h1.title .iconfont {
	color: #4274ff;
	font-size: 20px;
	line-height: 50px;
}
.block h1.title .iconfont::before {
	width: 23px;
}
.main-content{
	width: 100%;
	height: 100%;
	float: left;
}
.left{
	width: 50%;
	height: 100%;
	float: left;
}
.right{
	width: 50%;
	height: 100%;
	float: left;
}
#allmap,#allmap2{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:0px;
	font-family:"微软雅黑";
	/*margin: 10px auto;*/
}
#allmap *{
	box-shadow: content-box;
}


.anchorBL{display:none;}
.box-shadow{
	-webkit-box-shadow:0 0 5px #BBB;  
	-moz-box-shadow:0 0 10px #BBB;  
	box-shadow:0 0 10px #BBB; 
	background:#EDEDEB; 
}
.box-shadow>ul{
	list-style: none;
	padding: 3px;
	width: 100%;
	margin: 10px auto;
}
.box-shadow>ul>li{
	vertical-align: middle;
	line-height: 20px;
	white-space: nowrap;
}
.box-shadow>ul>li>span{
	height: 20px;
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
	margin-right: 5px;
}
/*顶部空间*/
.listSelect{
	position: absolute;
	top: 70px;
	left: 0px;
	height: 32px;
}
.listSelect label {
	float: left;
	font-size: 18px;
	line-height: 30px;
	padding-right: 6px;
}
.listSelect label:first-child{
	padding-left: 20px;
}
.listSelect .compare{
	float: left;
	font-size: 18px;
	line-height: 30px;
	padding-right: 20px;
}
.listSelect .btn{
	border-radius: 3px;
	box-shadow: 0 2px 2px #d6d6d6;
	text-align: center;
	display: block;
	cursor: pointer;
	float: left;
	position: relative;
	width: 92px;
	height: 32px;
	font-size: 16px;
	margin-top: -2px;
	background-color: #3c88ff;
	color: #ffffff;
	line-height: 32px;
	padding: 0;
	border: 0;
	margin-left: 102px;
}
.listSelect .btn::before{
	position: absolute;
	content: "";
	display: block;
	top: 1px;
	width: 100%;
	height: 1px;
	opacity: 1;
	background-color: #75aaff;
}
.listSelect .btn:active{
	background-color: #4d8fff;
}
.listSelect .selectF{
	width: 180px;
	height: 30px;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: #ffffff;
	float: left;
	border-radius: 3px;
	position: relative;
}
.listSelect .selectF ._s1 {
	font-size: 16px;
	height: 28px;
	line-height: 28px;
}
.mapSelect{
	position: absolute;
	top: 26px;
	left: 20px;
	height: 32px;
}
.mapSelect .selectF{
	width: 180px;
	height: 30px;
	margin-right: 20px;
	background-color: #ffffff;
	float: left;
	border-radius: 3px;
	position: relative;
}
.mapSelect .selectF ._s1 {
	font-size: 16px;
	height: 28px;
	line-height: 28px;
}
.mapTable{
	position: absolute;
	top: 10px;
	/*top: 165px;*/
	right: 15px;
	width: 384px;
	background-color: rgba(255,255,255,0.7);
	height: 120px;
}
.mapTable table,
.mapTable tbody,
.mapTable tr,
.mapTable td,
.mapTable caption {
	display: block;
	float: left;
}
.mapTable table,
.mapTable tbody,
.mapTable caption,
.mapTable tr {
	width: 100%;
}
.mapTable caption,
.mapTable td{
	cursor: default;
	height: 31px;
	font-size: 18px;
	line-height: 30px;
	border-right: 1px solid rgba(153,153,153,0.5);
	border-bottom: 1px solid rgba(153,153,153,0.5);
	text-align: left;
	padding: 0 4px;
}
.mapTable table {
	border-left: 1px solid rgba(153,153,153,0.5);
	border-top: 1px solid rgba(153,153,153,0.5);
}
.mapTable td{
	font-size: 14px;
	text-align: right;
	width: 16.66666667%;
}
/*顶部空间*/

/*tab切换*/
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.nev-content{
	width: 100%;
	height: 100%;
	padding-top: 48px;
}
.nev-content > li{
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #dddddd;
}
.nev-content > li.active{
	display: block;
}
.nev-tab{
	position: absolute;
	top: 120px;
	left: 20px;
	height: 49px;
	border-left: 1px solid #dedede;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	float: left;
	background-color: #ffffff;
}
.nev-tab li{
	margin: 0;
	box-shadow: none;
	cursor:pointer;
	width: 160px;
	text-align: center;
	border: 1px solid #dedede;
	border-left: 0;
	height: 49px;
	line-height: 47px;
	float: left;
	font-size: 18px;
	color: #111112;
	background: -webkit-linear-gradient(#fafafa ,#ebeeef); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#fafafa ,#ebeeef); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#fafafa ,#ebeeef); /* Firefox 3.6 - 15 */
	background: linear-gradient(#fafafa ,#ebeeef); /* 标准的语法 */
	/*background-color: #f5f5f5;*/
	position: relative;
	z-index: 1;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.nev-tab li:active{
	background: -webkit-linear-gradient(#fafafa ,#ebeeef); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#fafafa ,#ebeeef); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#fafafa ,#ebeeef); /* Firefox 3.6 - 15 */
	background: linear-gradient(#fafafa ,#ebeeef); /* 标准的语法 */
	color: #111112;
}
.nev-tab li.active{
	color: #3c88ff;
	background: #ffffff;
	font-weight: bold;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.nev-tab li.active::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	top: -3px;
	left: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #5e8eff;
}
/*tab*/
.tab{
	width: 60%;
	height: 100%;
	float: left;
}
.tabmap{
	width: 40%;
	height: 100%;
	float: left;
	padding: 10px 10px 0 15px;
}
.tabmap #allmap3{
	width: 100%;
	height: 50%;
	float: left;
	background-color: #F5F3F0;
}
.tabmap ul.inf{
	float: left;
	width: 90%;
	margin-top: 20px;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
.tabmap ul.inf li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	padding: 0 5px;
	float: left;
	text-align: left;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.tabmap ul.inf li:first-child{
	text-align: center;
}
.tabmap ul.inf li::before{
	content: attr(lab);
}

/*抽屉*/
/*抽屉(默认在右侧)*/
.drawer{
	position: relative;
	width: 0px;
	height: 100px;
	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-ms-transition: width 1s ease;
	-o-transition: width 1s ease;
	transition: width 1s ease;
}
.drawer.active{
	width: 100px;
}
.drawer .drawerContent{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.drawer .drawerRight {
	position: absolute;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0px;
	margin: auto;
	height: 35px;
	width: 19px;
	line-height: 31px;
	text-align: center;
	color: #2461ff;
	border-top-right-radius: 19px;
	border-bottom-right-radius: 19px;
	border: 2px solid #e2e2e2;
	border-left: 0;
	background-color: #a8c7ff;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
	cursor: pointer;
	z-index: 1;
}

.drawer .drawerLeft {
	position: absolute;
	opacity: 1;
	top: 0;
	bottom: 0;
	left: -19px;
	margin: auto;
	height: 35px;
	width: 19px;
	line-height: 31px;
	text-align: center;
	color: #2461ff;
	border-top-left-radius: 19px;
	border-bottom-left-radius: 19px;
	border: 2px solid #e2e2e2;
	border-right: 0;
	background-color: #a8c7ff;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
	cursor: pointer;

}
.drawer .drawerLeft .iconfont{
	font-size: 13px;
	font-weight: bold;
	color: #2461ff;
}

.drawer .drawerRight .iconfont{
	font-size: 13px;
	font-weight: bold;
	color: #2461ff;
}
.drawer.active .drawerLeft {
	opacity: 0;
}

.drawer.active .drawerRight {
	opacity: 1;
}
/*抽屉(默认在右侧)*/
.drawer{
	position: absolute;
	right: 0px;
	top: 10px;
	z-index: 11;
	height: auto;
}
.drawer.active{
	width: 630px;
}
.drawerContent{
	background-color: #ffffff;
}
.drawer .nav-thumb {
	padding: 0 10px;
	float: left;
	width: 630px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 22px;
}
.drawer .nav-thumb ul {
	width: 100%;
	height: 22px;
	overflow: hidden;
	width: 450px;
	margin: auto;
	border-radius: 4px;
	border: 1px solid #e3e3e3;
	padding: 1px 2px;
	text-align: justify;
}
.drawer .nav-thumb ul li {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
	padding: 0 8px;
	cursor: pointer;
}
.drawer .nav-thumb ul li:hover {
	color: #3598db;
}
.drawer .nav-thumb ul li.active {
	color: #ffffff;
	background-color: #3598db;
}
.drawer .nav-thumb ul::after {
	content: '';
	width: 100%;
	display: inline-block;
}
.drawer .thumb{
	width: 630px;
	height: 300px;
	float: left;
	padding: 0 10px 10px;
}
.drawer .tab{
	padding: 10px 10px 0;
	width: 630px;
}
.drawer .mygrid_title th{
	padding-right: 0px;
}
/*抽屉*/