@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: -webkit-radial-gradient(#2ca2fc, #1b70b1);
  /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#2ca2fc, #1b70b1);
  /* Opera 11.1 - 12.0 */
  background: -moz-radial-gradient(#2ca2fc, #1b70b1);
  /* Firefox 3.6 - 15 */
  background: radial-gradient(#2ca2fc, #1b70b1);
  /* 标准的语法 */
}

.loginFrame {
  position: fixed;
  margin: auto;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 603px;
  height: 457px;
  border-radius: 3px;
  background-color: transparent;
  /*height: 577px;*/
}

.loginContent {
  width: 100%;
  height: 457px;
  border-radius: 8px;
  z-index: 3;
  float: left;
  position: relative;
  background-color: transparent;
  box-shadow: 0px 4px 6px -1px #1571b7;
}

.loginbg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: transparent url("../../../img/loginbg.png") no-repeat -9px -6px;
}

.framebg1 {
  width: 100%;
  height: 115px;
  top: 476px;
  left: 0px;
  position: absolute;
  border-radius: 8px;
  background: -webkit-linear-gradient(#469ddf, rgba(72, 113, 178, 0));
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#469ddf, rgba(72, 113, 178, 0));
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#469ddf, rgba(72, 113, 178, 0));
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#469ddf, rgba(72, 113, 178, 0));
  /* 标准的语法 */
}

.logo {
  width: 116px;
  height: 116px;
  margin: auto;
  position: absolute;
  top: -55px;
  left: 0px;
  right: 0;
  background: url("../../../img/loginLogo.png") no-repeat center center;
}

#title {
  margin: auto;
  margin-top: 78px;
  font-size: 30px;
  line-height: 30px;
  color: #0e6eb8;
  text-align: center;
  font-weight: bold;
}

.login {
  width: 100%;
  padding: 35px 71px 0 73px;
}

fieldset {
  border: 0;
}

.btn-default {
  display: none;
}

dl {
  width: 100%;
  height: 61px;
  padding: 1px;
  margin-bottom: 22px;
  border-radius: 3px;
  position: relative;
  background: -webkit-linear-gradient(#d1d1d1, #9f9f9f);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#d1d1d1, #9f9f9f);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#d1d1d1, #9f9f9f);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#d1d1d1, #9f9f9f);
  /* 标准的语法 */
}

dl:last-child {
  background: none;
  padding: 0;
  margin-top: 40px;
}

input, button {
  width: 100%;
  height: 100%;
  border: 0;
}

label {
  position: absolute;
  width: 71px;
  height: 57px;
  left: 2px;
  top: 2px;
  line-height: 57px;
  text-align: center;
}

label .iconfont {
  font-size: 25px;
  color: #999999;
}

label::after {
  content: '';
  width: 11px;
  display: block;
  position: absolute;
  right: 0;
  top: 1px;
  height: 56px;
  background: url("../../../img/bulge.png") no-repeat center right;
}

input:focus + label {
  background: -webkit-linear-gradient(#ffffff, #f5f5f5);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ffffff, #f5f5f5);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ffffff, #f5f5f5);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#ffffff, #f5f5f5);
  /* 标准的语法 */
}

input:focus + label::after {
  background-image: url("../../../img/bulgeA.png");
  background-position: center 1px;
}

dl input {
  border-radius: 3px;
  background-color: #ffffff;
  display: block;
  padding-left: 83px;
  font-size: 20px;
  color: #292929;
  outline: 0;
  line-height: 59px;
  box-shadow: 0 0 0px 1000px white inset;
}

.eye {
  position: absolute;
  width: 27px;
  height: 27px;
  line-height: 27px;
  margin: auto;
  right: 19px;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.eye .iconfont {
  color: #a8a8a8;
  font-size: 27px;
}

.btn-primary {
  font-size: 28px;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  background: -webkit-linear-gradient(#0C9BE2, #4373FF);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#0C9BE2, #4373FF);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#0C9BE2, #4373FF);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#0C9BE2, #4373FF);
  /* 标准的语法 */
}

.btn-primary:hover {
  background: -webkit-linear-gradient(#0cc1f5, #4a93ff);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#0cc1f5, #4a93ff);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#0cc1f5, #4a93ff);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#0cc1f5, #4a93ff);
  /* 标准的语法 */
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

* {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type='text'] {
  moz-user-select: -moz-text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

p {
  cursor: pointer;
}

.mobileDevice .loginFrame {
  width: 100%;
  max-width: 623px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.mobileDevice .loginbg {
  left: 0;
  border-radius: 7px;
  background-position: center -6px;
}

.mobileDevice .logo {
  left: 1px;
}

.mobileDevice .framebg1 {
  display: none;
}

/*# sourceMappingURL=map/login.css.map */